body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff5f5;
}

.navbar {
  background-color: #ffeaea;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.login-card {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-card label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.login-card input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.login-card button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1.5rem;
  background-color: #aad7c2;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #97cbb2;
}

.registro-texto {
  text-align: center;
  margin-top: 1rem;
}
